.react-datetime-picker {
  box-shadow: none !important;
}

.react-calendar {
  width: 250px !important;
}

.bootstrap-select{
  border: 1px solid lightgray !important;
}

.bootstrap-select>.dropdown-toggle {
  background-color: white !important;
}

.dropdown-extra {
  border: 0px;
  background-color: white;
  width: 150px;
}

.dropdown-item.active, .dropdown-item:active  {
  background-color: #bfb0bb;
}

.text-input {
  border: none;
  width: 50px;
}